<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Websocket Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="row">
        <div class="col-md-12">
            <h3>채팅방 리스트</h3>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">방제목</label>
        </div>
        <input id="chat-room-name" type="text" class="form-control" />
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" th:onclick="createRoom()">채팅방 개설</button>
        </div>
    </div>
    <ul class="list-group">
        <li  class="list-group-item list-group-item-action" th:each="chatRoom : ${chatRooms}" th:text="${chatRoom.getRoomName()}"
            th:onclick="enterRoom([[${chatRoom.getRoomId()}]]);">
        </li>
    </ul>
</div>
<!-- JavaScript -->
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script>
    function enterRoom(roomId) {
        const sender = prompt('대화명을 입력해 주세요.');
        if(sender !== "") {
            localStorage.setItem('wschat.sender',sender);
            localStorage.setItem('wschat.roomId',roomId);
            location.href="/chat/room/enter/"+roomId;
        }
    }

    function createRoom() {
        const chatRoomName = document.getElementById("chat-room-name").value
        if(chatRoomName === "") {
            alert("방 제목을 입력해 주십시요.");
            return;
        }

        const params = new URLSearchParams();
        params.append("name",chatRoomName);
        axios.post('/chat/room', params)
            .then(
                response => {
                    alert(response.data.roomName + "방 개설에 성공하였습니다.")
                    window.location.reload()
                }
            )
            .catch( response => { alert("채팅방 개설에 실패하였습니다."); } );
    }
</script>
</body>
</html>